NpcDialogueGraph(
    npc_id: "narrator",
    entry_points: [(stage: "hello_stranger")],
    stages: {
        "hello_stranger": (
            text: r#"
                В одной захудалой лесной деревушке, жил-поживал себе в покосившейся старой избе
                мужик {HeroName}.

                Жизнь его была проста -- каждый день он ходил в лес по грибы да по ягоды, ловил рыбу
                в местной речушке, собирал сухостой и рубил из него дрова.

                Больше всего в жизни он любил брагу, которую ему с радостью варила соседская
                бабка в обмен на всякое добро.

                Так он и жил изо дня в день. Накатит бывало пару кружек, уляжется своей неопрятной
                бородищей на очерствевшую от деревенских дел ладонь, и как затянет заунывно плясовую
                песню, у всех деревенских уши в трубочку, а ему ничего, горланит.

                Но однажды пришла беда. Проснулся {HeroName}, вышел как обычно на крылечко,
                потянулся, хорошенько зевнул, и остолбенел.

                Бабкина изба пропала!
            "#,
            choices: [
                (
                    text: "Что за чертовщина?",
                    transition_to: Stage("departure")
                ),
            ]
        ),
        "departure": (
            text: r#"
                Целую минуту стоял {HeroName} как вкопанный, после чего глаза его налились лютой
                яростью, а изо рта посыпался град из бранных слов.
            "#,
            choices: [
                (
                    text: r#"
                        Ну жили же как-то, никого не трогали, и кому вообще понадобилось похищать
                        самогонщицу вместе с её холупой? Эх, ничего не поделаешь, придётся пойти
                        отыскать старушенцию. Так, где там мой походный узелок...
                    "#,
                    transition_to: EndDialogue
                )
            ]
        )
    }
)